treechildren::-moz-tree-row(selected){ 
	background-color: #FFCC66; 
	
	}

treechildren::-moz-tree-cell-text(selected){ 

	color: #000000; 
	}

treechildren::-moz-tree-row(head){ 
	background-color: #CCCCFF; }


treechildren::-moz-tree-twisty{
	-moz-appearance:treetwisty;
	}
