@import url( chrome://global/skin/ );



#conference{
color : rgb(26%, 31%, 35%);
background: #FFCC99;
font-weight : bold;
}

#server {
color : rgb(15%, 15%, 70%);
background: #CCCCFF;
font-weight : bold;
}


.group {
color : rgb(15%, 15%, 70%);
background: #CCCCFF;
font-weight : bold;
}

listitem[selected = "true"] {
background: #FFCC66;
color : rgb(26%, 31%, 35%);
}



menupopup > menuitem {
list-style-image: url( "chrome://messenger/content/img/away.png" );
}

.tabs-closebutton {  margin: 0px 4px;
 padding: 3px 2px;
 border: none;
 list-style-image: url("chrome://messenger/content/img/close.png");
}


#xa {
list-style-image: url("chrome://messenger/content/img/away.png");	
}	

