#notifications {
  padding-left: 3px;
  border: 1px solid #aaa;
  height: 400px;
  overflow-y: scroll;
}

.col-head {
  width: 50px;
  height: 100px;
  overflow: hidden;
  margin: 0 8px;
}
.col-head > hbox {
  height: 50px;
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: 50px 50px;
}
.col-head > hbox > vbox {
  max-width: 100px;
}

image.reset {
  height: 12px;
  width: 12px;
  background: transparent url(imgs/reset.png) center center;
  cursor: pointer;
}

#notifications checkbox .checkbox-label-box {
  -moz-appearance: none;
  border: none;
}

