#container {
  border: 1px solid black;
  background-color: white;
  background-image: url(imgs/gradient.png);
  background-repeat: repeat-y;
  padding: 8px 4px 8px 0px;
}

#title {
  margin-left: 24px;
  font-size: 1.2em;
}

#messageImg {
  min-width: 8px;
  margin: 0 8px;
}

#message {
  margin-left: 0;
}
