Makefile
Makefile.in
*.o
*.lo
*.la
.libs
aclocal.m4
autom4te.cache/
config.h
config.guess
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/
missing
nice/nice.pc
stamp-h1
agent/agent-signals-marshal.c
agent/agent-signals-marshal.h
stun/tools/stunbdc
stun/tools/stund
