<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>xulrunner</string>
	<key>CFBundleIconFile</key>
	<string>oneteam.icns</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>CFBundleGetInfoString</key>
	<string>ProcessOne OneTeam @@version@@</string>
	<key>CFBundleName</key>
	<string>OneTeam</string>
	<key>CFBundleShortVersionString</key>
	<string>@@version@@</string>
	<key>CFBundleVersion</key>
	<string>@@buildid@@</string>
</dict>
</plist>
