@import url( chrome://global/skin/ );

/* only allow items to be focused if the richlistitem is selected */
richlistitem > * {
  -moz-user-focus: none;
}

richlistitem[selected="true"] > * {
  -moz-user-focus: normal;
  background: #FFCC66;
color : rgb(26%, 31%, 35%);
}

#conference{
color : rgb(26%, 31%, 35%);
background: #FFCC99;
font-weight : bold;
}

#server {
color : rgb(15%, 15%, 70%);
background: #CCCCFF;
font-weight : bold;
}


.group {
color : rgb(15%, 15%, 70%);
background: #CCCCFF;
font-weight : bold;
}

listitem[selected = "true"] {
background: #FFCC66;
color : rgb(26%, 31%, 35%);
}







.tabs-closebutton {  margin: 0px 4px;
 padding: 3px 2px;
 border: none;
 list-style-image: url("chrome://oneteam/content/img/close.png");
}



.closebutton  {
  border: 1px solid transparent;
  padding: 0px 2px 2px 2px !important;
  margin:0;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-appearance: none;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.closebutton:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.closebutton:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}


.popup {
	font-size:12px;
	padding: 5px 3px 2px 3px;
	background: #F5F6BE;
	border-bottom: 1px solid #aaa;
}

