.stack {
	-moz-box-flex: 1;
}

.vertical-info-box {
	display: none;
}

.container[orient=vertical] {
	-moz-box-align: center;
}

.container[orient=vertical] .stack {
	-moz-box-flex: 0;
}

.container[orient=vertical] .background {
	margin-right: 20px;
}

.container[orient=vertical] .info-box {
	display: none;
}

.container[orient=vertical] .vertical-info-box {
	display: -moz-box;
	text-align: center;
}

.background {
	margin: 10px 0 4px 0;
	padding: 0;
  background: #c7c7c7;
  -moz-border-radius: 5px 5px 5px 5px;
}

.info-box {
	margin: 6px 0 0 8px;
	padding: 0;
}

.status-desc, .chatstate-desc {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 75%;
}

#label, .contact-name, .contact-jid, .status-text, .contact-name2, .contact-jid2 {
	margin: 0 !important;
	padding: 0 !important;
}

.contact-name, .status-text, .contact-name2, .contact-jid2 {
	color: #515151;
	text-shadow: #eee 0 1px 0;
}

.contact-name {
	margin-top: 5px !important;
	font-size: 120%;
}

.contact-jid {
	margin-left: 5px !important;
	color: white;
	text-shadow: #aaa 0 -1px 0;
	font-size: 75%;
}

.status-text {
	font-style: italic;
	font-size: 85%;
}

.contact-name2 {
	margin-top: 4px !important;
	font-weight: bold;
}

.contact-jid2 {
	font-size: 75%;
}

.icon-container {
  background: transparent !important;
  -moz-border-radius: 0 !important;
}

.icon-container > * {
  border-bottom: none !important;
}

.icon-container row[nonEmpty=true] {
  border-bottom: 2px solid white;
  -moz-border-bottom-colors: #cfcfcf #bababa;
}

.chatstate-active, .chatstate-paused {
	list-style-image: url(imgs/chat_active.png);
}

.chatstate-composing {
	list-style-image: url(imgs/chat_typing.png);
}

.chatstate-inactive, .chatstate-gone {
	list-style-image: url(imgs/chat_inactive.png);
}

.noCounter .label-box {
  width: 48px;
  height: 48px;
  margin: 0;
}

.noCounter .avatar-box {
  margin: 0;
}

.noCounter .info-box {
	margin-top: 0;
}

.noCounter .background, .noCounter .icon-container {
	margin-top: 4px;
}

.noCounter .counter-box {
  display: none;
}
