.background {
	margin: 16px 0 0 0;
	padding: 0;
  background: #c7c7c7;
  -moz-border-radius: 5px 5px 5px 5px;
}

.info-box {
	margin: 10px 0 0 0;
	padding: 0;
}

.status-desc, .chatstate-desc {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 75%;
}

.contact-name, .contact-jid, .status-text {
	margin: 0 !important;
	padding: 0 !important;
}

.contact-name {
	margin-top: 5px !important;
	color: #515151;
	font-size: 120%;
}

.contact-jid {
	margin-left: 5px !important;
	color: white;
	font-size: 75%;
}

.status-text {
	color: #515151;
	font-style: italic;
	font-size: 85%;
}

.icon-container {
  background: transparent !important;
  -moz-border-radius: 0 !important;
}

.icon-container > * {
  border-bottom: none !important;
}

.icon-container row[nonEmpty=true] {
  border-bottom: 2px solid white;
  -moz-border-bottom-colors: #cfcfcf #bababa;
}
