#name, #jid, #status, #statusText {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#name {
	font-weight: bold;
	font-size: 150%;
}

#jid, #chatState {
	font-weight: normal;
	font-size: medium;
}

#avatar, #statusIcon, #conferenceIcon {
	margin-right: 0.5em;
}

#conferenceIcon {
	-moz-box-align: center;
	-moz-box-pack: center;
}

#conferenceIconImage {
	list-style-image: url(imgs/conference.png);
}
