Makefile
Makefile.in
*.o
*.lo
*.la
.libs
Speex.spec
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
include/speex/speex_config_types.h
install-sh
libspeex/testdenoise
libspeex/testecho
libspeex/testenc
libspeex/testenc_uwb
libspeex/testenc_wb
libspeex/testjitter
libtool
ltmain.sh
missing
*.pc
src/speexdec
src/speexenc
stamp-h1
