@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

chatpane {
  -moz-binding: url("chrome://oneteam/content/bindings/chatpane.xml#chatpane");
}

chatpane-view {
  -moz-binding: url("chrome://oneteam/content/bindings/chatpane.xml#chatpane-view");
}

avatar {
  -moz-binding: url("chrome://oneteam/content/bindings/avatar.xml#avatar");
}

avatarlist {
  -moz-binding: url("chrome://oneteam/content/bindings/avatar.xml#avatarList");
}

groupselector {
  -moz-binding: url("chrome://oneteam/content/bindings/groupselector.xml#groupselector");
}

contactselector {
  -moz-binding: url("chrome://oneteam/content/bindings/contactselector.xml#contactselector");
}

otsystray {
  -moz-binding: url("chrome://oneteam/content/bindings/systray.xml#systray");
}

otsystray[type="minimizer"] {
  -moz-binding: url("chrome://oneteam/content/bindings/systray.xml#systray-minimizer");
}

contactinfo {
  -moz-binding: url("chrome://oneteam/content/bindings/contactinfo.xml#info");
}

menupopup[type="smiles-list"] {
  -moz-binding: url("chrome://oneteam/content/bindings/smileslist.xml#popup");
}

toolbarbutton[type="smiles-list"] {
  -moz-binding: url("chrome://oneteam/content/bindings/smileslist.xml#button");
}

tab[hasclosebutton="true"] {
  -moz-binding: url("chrome://oneteam/content/bindings/chattabbox.xml#tab-with-close-button");
}

chattabbox {
  -moz-binding: url("chrome://oneteam/content/bindings/chattabbox.xml#chattabbox");
}

tabs.with-scroll {
  -moz-binding: url("chrome://oneteam/content/bindings/chattabbox.xml#tabs-with-scroll");
}

chattab-content {
  -moz-binding: url("chrome://oneteam/content/bindings/chattabbox.xml#chattab-content");
}

textbox[type="verifiable"] {
  -moz-binding: url("chrome://oneteam/content/bindings/verifier.xml#textbox");
}

ifvalid {
  -moz-binding: url("chrome://oneteam/content/bindings/verifier.xml#ifvalid");
}

ifinvalid {
  -moz-binding: url("chrome://oneteam/content/bindings/verifier.xml#ifvalid");
}

verifier {
  -moz-binding: url("chrome://oneteam/content/bindings/verifier.xml#verifier");
}

verifier-error-box {
  -moz-binding: url("chrome://oneteam/content/bindings/verifier.xml#error-box");
}

dialog {
  -moz-binding: url("chrome://oneteam/content/bindings/verifier.xml#dialog") !important;
}

listeditor {
  -moz-binding: url("chrome://oneteam/content/bindings/listeditor.xml#list-editor");
}

registrationform {
  -moz-binding: url("chrome://oneteam/content/bindings/forms.xml#registration-form");
}
