#iconsSet, #smilesSet {
  height: 8em;
  background: white;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
}

.iconSetItem {
  padding-top: 8px;
  padding-bottom: 8px;
  -moz-padding-start: 13px;
  -moz-padding-end: 10px;
  min-height: 18px;
  border-bottom: 1px dotted #C0C0C0;
  overflow: hidden;
}

.iconSetItem image {
  padding: 1px;
}

#preferences radio[pane] {
  list-style-image: url("imgs/icons.png");
}

radio[pane=general] {
  -moz-image-region: rect( 0px, 96px, 32px, 64px )
}

radio[pane=connection] {
  -moz-image-region: rect( 0px, 64px, 32px, 32px )
}

radio[pane=appearance] {
  -moz-image-region: rect( 0px, 128px, 32px, 96px )
}

radio[pane=status] {
  -moz-image-region: rect( 0px, 192px, 32px, 160px )
}

radio[pane=notifications] {
  -moz-image-region: rect( 0px, 192px, 32px, 160px )
}

.notificationsOptions description {
  font-weight: bold;
}

.notificationsOptions  grid {
  margin-left: 2em;
  visibility: collapse;
}

.notificationsOptions richlistitem[expanded=true] grid {
  visibility: visible;
}
