#output, #input {
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-appearance: none !important;
}

#output, #input-container {
  margin: 2px 0;
  background: #fff;
  border: 1px solid #aeaeae !important;
}

#input-container {
  padding-right: 2px;
}

#send {
  list-style-image: url(imgs/send.png);
  -moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image);
}

.marker-arrow {
  background: transparent;
  border: 8px solid transparent;
  border-left: 0;
}
