#output, #input {
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-appearance: none !important;
}

#output, #input-container {
  margin: 0 0 0 0;
}

#input-container {
  background: #fff;
  border: 1px solid #aeaeae !important;
  -moz-border-radius: 3px;
  margin-top: 2px;
  padding: 1px;
}

#send {
  background: #b3ce00 url(imgs/send-icon.png) center center no-repeat;
  -moz-border-radius: 2px;
  margin: 2px 0;
  width: 38px;
  -moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image);
}

#send:hover {
  background-color: #cbea00;
}

.marker-arrow {
  background: transparent;
  border: 0px solid transparent;
  border-left: 0;
}

chatpane-view {
  margin-bottom: 3px;
  background: #c7c7c7;
  padding: 0 4px 0px 4px;
  -moz-border-radius: 0px 0px 5px 5px;
}

chatpane[hasRoster=true] chatpane-view {
  -moz-border-radius-bottomright: 0px;
/*  margin-right: -8px;*/
}

contactinfo .background {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  margin-bottom: 0;
}

chatpane[hasRoster=true] contactinfo .background {
  -moz-border-radius-topright: 0;
}

splitter, .roster-container {
	margin: 4px 0 3px 0;
}

.roster-container {
  padding: 0 0px;
  background: #c7c7c7 !important;
  border: 0;
  -moz-border-radius: 0px 5px 5px 0px;
}

.roster-container > hbox {
	color: #515151;
  font-size: 85%;
  margin: 3px 2px 1em 0;
}

.bookmark-star {
  list-style-image: url(imgs/star.png);
  cursor: pointer;
}

.bookmark-star[bookmarked=true] {
  list-style-image: url(imgs/star-on.png);
}

#roster {
  -moz-appearance: none;
  background: #c7c7c7 !important;
  border: 0;
}

splitter.roster-splitter {
  -moz-appearance: none;
  padding: 0 0px;
  background: #c7c7c7;
  border: 4px solid white;
  -moz-border-right-colors: #c7c7c7 #c7c7c7 #c7c7c7 #cfcfcf;
  -moz-border-left-colors: #c7c7c7 #c7c7c7 #c7c7c7 #bababa;
  border-bottom-width: 0;
  border-top-width: 0;
}

#thread-picker {
  margin: 3px 2px 0 0;
}

#thread-picker > deck > hbox:first-child {
  overflow:hidden;
  -moz-stack-sizing: ignore;
}

#thread-picker > deck > hbox > label {
  color: #515151;
  font-size: 85%;
}

#thread-picker-container, #thread-picker-container * {
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  width: auto;
  height: auto;
}

#thread-picker-container > radio {
  margin: 2px;
}

#thread-picker-container .radio-spacer-box,
#thread-picker-container .radio-check,
#thread-picker-container .radio-check-box1
{
  display: none;
}

#thread-picker-menulist {
  margin: 0;
  padding: 0;
  font-size: 75%;
}

#thread-picker-menulist .menu-iconic-left,
#thread-picker-menulist .menu-iconic-icon,
#thread-picker-menulist menuitem
{
  padding-right: 0;
  width: auto;
  display: inherit;
}
