html, body {
    background: transparent;
    font-family: sans-serif;
    margin: 0;
    padding: 1px;
    min-height: 17px;
}

body[hasSendButton=true]:after {
    content: "";
    float: right;
    position: fixed;
    top: -3px;
    right: 0px;
    background: #b3ce00 url(imgs/send-icon.png) center center no-repeat;
    -moz-border-radius: 2px;
    margin: 2px 1px 0px 0;
    padding: 0px;
    width: 38px;
    height: 100%;
    /*-moz-box-sizing: border-box;*/
}

body[hasSendButton=true] {
    padding-right: 42px;
    word-wrap: break-word;
}

.mainContainer {
    margin-bottom: 2px;
}

.message {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.message:last-child, .message[ends-chunk=true] {
    border-bottom-color: rgba(40, 40, 40, 0.6);
}

.systemMessage + .message[starts-chunk=true] {
    border-top: 1px solid rgba(40, 40, 40, 0.6);
}

.message[starts-chunk=true] {
    clear: both;
}

.message > img {
    display: none;
}

.message[starts-chunk=true] > img {
    display: inline;
    float: left;
}

.message[starts-chunk=true] > .header {
    display: block;
    overflow: auto;
    height: auto;
}

.message[odd-chunk=true] {
    background-color: -moz-oddtreerow;
}

.header {
    display: none;
    margin-left: 30px;
}

.thread-marker {
    display: none;
    position: absolute;
    left: 2px;
    bottom: 0.4em;
}

.thread-marker-reply {
    cursor: pointer;
}

span.body:hover > .thread-marker-reply,
.thread-marker:not([src="resource://oneteam-skin/chatpane/imgs/add-thread.png"])
{
    display: inline;
}

.systemMessage {
    border: 0 !important;
    margin: 2px 4px !important;
    color: #98B54D;
    font-style: italic;
}

.systemMessage > .header, .systemMessage > img {
    display: none !important;
}

.offline, .archived {
    font-size: 0.85em;
}

.archived {
    color: #565;
}

.to-copy-paste {
    display: none;
}

.author {
    font-weight: bold;
    float: left;
}

.date {
    display: inline;
    font-size: 85%;
    margin-left: 5px;
    color: #333;
}

.body {
    position: relative;
    display: block;
    padding: 3px 0px;
    padding-left: 30px;
}

.message[starts-chunk=true]::before {
    font-size: 1%;
    line-height: 1%;
    display: block;
    content: " ";
    clear: both;
}

body[marked-thread=true] .message {
    opacity: 0.3;
}

body[marked-thread=true] .message[in-marked-thread=true] {
    opacity: 1.0;
}

.image-replacement {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 180px;
    background: url(imgs/img-replacement-background.png);
    vertical-align: -50%;
}

.image-replacement > div {
    display: table;
    width: 300px;
    height: 180px;
}

.image-replacement > div > div {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    text-align: center;
}

.image-replacement label {
    position: absolute;
    margin: 15px 10px;
    bottom: 0px;
}
