html {
    margin: 0;
    padding: 0;
}

body {
    background: #c7c7c7 !important;
    font-family: sans-serif;
    margin: 0px;
    padding: 2px;
    min-height: 17px;
    word-wrap: break-word;
}

body[hasSendButton=true] {
    background: transparent !important;
    padding-right: 50px;
    min-height: 19px;
}

body[hasSendButton=true]:after {
    content: "";
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    -moz-border-image: url(imgs/send-border-image.png) 5/5px repeat repeat;
    background: #b3ce00 url(imgs/send-icon.png) center center no-repeat;
    padding: 0px;
    width: 38px;
}

body[hasSendButton=true][editMode]:after {
    background-image: url(imgs/edit-send.png);
}

body[hasSendButton=true][disabled=true]:after {
    -moz-border-image: none;
    background: transparent;
}

.mainContainer {
    margin-bottom: 2px;
}

.message {
    margin: 0 3px 0 11px;
    padding: 1px 6px 1px 0;
    background: white;
    border: 3px solid #b3b3b3;
    -moz-border-top-colors: #c1c1c1 #bbbbbb #b3b3b3;
    -moz-border-bottom-colors: #c1c1c1 #bbbbbb #b3b3b3;
    -moz-border-left-colors: #c1c1c1 #bbbbbb #b3b3b3;
    -moz-border-right-colors: #c1c1c1 #bbbbbb #b3b3b3;
    border-top-width: 1px;
    border-bottom-width: 0;
}

body[hide-not-marked=true] .message {
    display: none;
}

body[hide-not-marked=true] .message[in-selected-thread=true] {
    display: block;
}

.message[starts-chunk=true]:not(.systemMessage),
body[hide-not-marked=true] .message[starts-selected-chunk=true]
{
    border-top-width: 3px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    clear: both;
}

.message:last-child:not(.systemMessage),
.message[ends-chunk=true]:not(.systemMessage),
body[hide-not-marked=true] .message[ends-selected-chunk=true]
{
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-width: 3px;
}

.message > img {
    display: none;
}

div.message.selectable:hover {
    -moz-border-top-colors: #C0CBDB #A6BADB #7ea1dc;
    -moz-border-bottom-colors: #C0CBDB #A6BADB #7ea1dc;
    -moz-border-left-colors: #C0CBDB #A6BADB #7ea1dc;
    -moz-border-right-colors: #C0CBDB #A6BADB #7ea1dc;
}

.participant {
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    display: inline;
    float: left;
    margin: 0 2px;
}

.message[starts-chunk=true] > img,
body[hide-not-marked=true] .message[starts-selected-chunk=true] > img
{
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    display: inline;
    float: left;
    margin-left: 6px;
}

.message[starts-chunk=true] > .header,
body[hide-not-marked=true] .message[starts-selected-chunk=true] > .header
{
    display: block;
    overflow: auto;
    height: auto;
}

.header {
    color: #515151;
    display: none;
    margin-top: 2px;
    margin-left: 30px;
}

.header[withParticipants="true"] {
    margin-left: 0px;
}

.message-action {
    width: 30px;
    min-height: 14px;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: transparent center 4px no-repeat;
}

.thread-marker-reply {
    background-image: url(imgs/add-thread.png);
}

.edit-message {
    background-image: url(imgs/chat-edit.png);
}

.thread-marker {
    -moz-user-select: none;
    cursor: default;
}

.thread-marker-reply,
.edit-message
{
    cursor: pointer;
}

.edit-message[edited=true] {
    background-image: url(imgs/chat-edit-active.png);
}

body[threadId]:before,
.thread-marker[threadId]:before {
    content: attr(threadId);
    display: block;
    margin: 4px 6px 0px 6px;
    padding: 0;
    min-width: 18px;
    color: #fff;
    background: #7ea1dc;
    border: 0px solid #7ea1dc;
    -moz-border-radius: 2px;
    font: bold 12px Arial, sans-serif;
    text-align: center;
    -moz-user-select: none;
}

body[threadId]:before {
    float: left;
    margin: 2px;
    cursor: default;
}

.thread-marker[threadId] {
    background: none;
}

.message > span.body:hover > .message-action,
.thread-marker[threadId],
.edit-message[edited=true]
{
    display: block;
}

.systemMessage {
    border: none;
    color: #515151;
    background: transparent;
    font-style: italic;
    font-size: 85%;
}

.systemMessage > .header, .systemMessage > img {
    display: none !important;
}

.offline, .archived {
    font-size: 0.85em;
}

.archived {
    color: #565;
}

.modified > .body {
    font-weight: bold;
}

.filtered-out {
    display: none;
}

.directed > .body {
    color: #911;
}

.to-copy-paste {
    display: none;
}

.author {
    font-weight: bold;
    float: left;
}

.date {
    float: right;
    display: inline;
    font-size: 85%;
    margin-left: 5px;
    color: #333;
}

.message > .body {
    position: relative;
    display: block;
    padding: 3px 50px 3px 30px;
}

.message[starts-chunk=true]::before {
    font-size: 1%;
    line-height: 1%;
    display: block;
    content: " ";
    clear: both;
}

body[marked-thread=true] .message {
    opacity: 0.3;
}

body[marked-thread=true] .message[in-marked-thread=true] {
    opacity: 1.0;
}

.image-replacement {
    cursor: pointer;
    -moz-user-select: none;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 180px;
    background: url(imgs/img-replacement-background.png);
    vertical-align: -50%;
}

.image-replacement > div {
    display: table;
    width: 300px;
    height: 180px;
}

.image-replacement > div > div {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    text-align: center;
}

.image-replacement label {
    position: absolute;
    margin: 15px 10px;
    bottom: 0px;
}

.fetch-more {
    font-size: 75%;
    margin-top: 4px;
    color: #959595;
    padding-top: 30px;
    background: url(imgs/fetch-more.png) center top no-repeat;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
}

.fetch-more:hover {
    background: red;
    color: #515151;
}

.gradient {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1000;
    background: url(imgs/vertical-gradient.png) top left repeat-x;
}

div#editButton {
    height: 16px;
    width: 16px;
    float: right;
    background: url(imgs/edit.png);
    cursor: pointer;
}

div.right-div {
    position: absolute;
    right: 0;
    bottom: 3px;
    height: 18px;
}

span.body[displayEdit] span.edit {
    background: yellow;
}

.previousMessage, .nextMessage {
    width: 14px;
    height: 14px;
    cursor: pointer;
    float: right;
    margin: 2px 0 2px 2px;
}
.previousMessage[disabled], .nextMessage[disabled] {
    cursor: default;
}

.previousMessage           {background: url(imgs/prev.png);         }
.previousMessage[disabled] {background: url(imgs/prev-disabled.png);}
.nextMessage               {background: url(imgs/next.png);             }
.nextMessage[disabled]     {background: url(imgs/next-disabled.png);    }

/* 2px blue border around message being edited */
.message[editing] {
    -moz-border-top-colors: #c1c1c1 #7ea1dc #7ea1dc;
    -moz-border-bottom-colors: #c1c1c1 #7ea1dc #7ea1dc;
    -moz-border-left-colors: #c1c1c1 #7ea1dc #7ea1dc;
    -moz-border-right-colors: #c1c1c1 #7ea1dc #7ea1dc;
}
.message[editing]:not([starts-chunk]) {
    -moz-border-top-colors: #7ea1dc;
    border-top-width: 2px;
    padding-top: 0;
}

span.body {
    min-height: 18px;
}
