html {
    margin: 0;
    padding: 0;
}

body {
    background: #c7c7c7 !important;
    font-family: sans-serif;
    margin: 0px;
    padding: 2px;
    min-height: 17px;
}

body[hasSendButton=true] {
    background: transparent !important;
    padding-right: 50px;
    word-wrap: break-word;
}

body[hasSendButton=true]:after {
    content: "";
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    right: 0px;
    -moz-border-image: url(imgs/send-border-image.png) 5/5px repeat repeat;
    background: #b3ce00 url(imgs/send-icon.png) center center no-repeat;
    padding: 0px;
    width: 38px;
}

.mainContainer {
    margin-bottom: 2px;
}

.message {
    margin: 0 6px 0 6px;
    padding: 1px 6px;
    background: white;
    border: 1px solid #b3b3b3;
    border-top-width: 0;
    -moz-box-shadow: 0 0 1px 1px #b4b4b4;
}

body[hide-not-marked=true] .message {
    display: none;
}

body[hide-not-marked=true] .message[in-selected-thread=true] {
    display: block;
}

.message[starts-chunk=true]:not(.systemMessage),
body[hide-not-marked=true] .message[starts-selected-chunk=true]
{
    margin-top: 4px;
    border-top-width: 1px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    clear: both;
}

.message:last-child:not(.systemMessage),
.message[ends-chunk=true]:not(.systemMessage),
body[hide-not-marked=true] .message[ends-selected-chunk=true]
{
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
}

.message > img {
    display: none;
}

.message[starts-chunk=true] > img,
body[hide-not-marked=true] .message[starts-selected-chunk=true] > img
{
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    display: inline;
    float: left;
}

.message[starts-chunk=true] > .header,
body[hide-not-marked=true] .message[starts-selected-chunk=true] > .header
{
    display: block;
    overflow: auto;
    height: auto;
}

.header {
  	color: #515151;
    display: none;
    margin-top: 2px;
    margin-left: 24px;
}

.thread-marker {
    display: none;
    position: absolute;
    left: 1px;
    bottom: 0.4em;
}

.thread-marker-reply {
    cursor: pointer;
}

span.body:hover > .thread-marker-reply,
.thread-marker:not([src="resource://oneteam-skin/chatpane/imgs/add-thread.png"])
{
    display: inline;
}

.systemMessage {
    border: none;
    color: #515151;
    background: transparent;
    font-style: italic;
    font-size: 85%;
    -moz-box-shadow: none;
}

.systemMessage > .header, .systemMessage > img {
    display: none !important;
}

.offline, .archived {
    font-size: 0.85em;
}

.archived {
    color: #565;
}

.directed .body {
    color: #911;
}

.to-copy-paste {
    display: none;
}

.author {
    font-weight: bold;
    float: left;
}

.date {
    float: right;
    display: inline;
    font-size: 85%;
    margin-left: 5px;
    color: #333;
}

.body {
    position: relative;
    display: block;
    padding: 3px 0px;
    padding-left: 24px;
}

.message[starts-chunk=true]::before {
    font-size: 1%;
    line-height: 1%;
    display: block;
    content: " ";
    clear: both;
}

body[marked-thread=true] .message {
    opacity: 0.3;
}

body[marked-thread=true] .message[in-marked-thread=true] {
    opacity: 1.0;
}

.image-replacement {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 180px;
    background: url(imgs/img-replacement-background.png);
    vertical-align: -50%;
}

.image-replacement > div {
    display: table;
    width: 300px;
    height: 180px;
}

.image-replacement > div > div {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    text-align: center;
}

.image-replacement label {
    position: absolute;
    margin: 15px 10px;
    bottom: 0px;
}

.fetch-more {
    font-size: 75%;
    color: #959595;
    padding-top: 30px;
    background: url(imgs/fetch-more.png) center top no-repeat;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
}

.fetch-more:hover {
    background: red;
    color: #515151;
}
