#_inputClone.inputBox, #_input.inputBox, .inputBox {
  padding: 2px 2px 2px 4px !important;
}

#_input, #_inputClone {
  background: transparent;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  min-height: 1em !important;
  -moz-appearance: none !important;
  /*height: 1.5em;*/
}

toolbar[type="chatpane-commands"] {
  -moz-appearance: none !important;
  background: #002e4e !important;
}

#_counter {
  color: #FFA4A2;
}

#boldButton {
    list-style-image: url(imgs/text-style-bold.png);
}

#italicButton {
    list-style-image: url(imgs/text-style-italic.png);
}

#underlineButton {
    list-style-image: url(imgs/text-style-underline.png);
}

#smallerFontButton {
    list-style-image: url(imgs/text-size-smaller.png);
}

#biggerFontButton {
    list-style-image: url(imgs/text-size-bigger.png);
}

#fontColorButton {
    list-style-image: url(imgs/text-font-color.png);
}

#fontBackgroundButton {
    list-style-image: url(imgs/text-font-background.png);
}

#vcardButton {
    list-style-image: url(imgs/vcard.png);
}

#sendFile {
    list-style-image: url(imgs/send-file.png);
}

#sendFile[disabled=true] {
    list-style-image: url(imgs/send-file-disabled.png);
}

#extraCmds {
    list-style-image: url(imgs/extra-cmds.png);
}
