.conference-view > richlistitem:nth-child(2n+1):not([selected=true]),
.list-contact-view:nth-child(2n+1):not([selected=true])
{
  background: #cfcfcf !important;
}

.list-roster-view {
  -moz-appearance: none;
  border: none;
  padding: 0;
  margin: 2px;
  background: transparent;
}

.conference-view,
.conference-role-view,
.conferencemember-view,
.list-contact-view,
.list-group-view
{
  margin: 0;
  padding: 0;
}

.list-group-view {
  font-size: 1.1em;
  font-style: italic;
  font-weight : bold;
  border: none;
  color: #515151;
  text-shadow: #eee 0 1px 0;
}

.conference-view,
.conference-role-view,
.conferencemember-view,
.list-contact-view {
  background: #c7c7c7;
  border: none;
  color: #515151;
  text-shadow: #eee 0 1px 0;
}

.conference-view,
.conference-role-view,
.list-contact-view {
  font-weight : bold;
}

.conference-view[selected=true],
.conference-role-view[selected=true],
.conferencemember-view[selected=true],
.list-contact-view[selected=true],
.list-group-view[selected=true]
{
  background: #dadada;
}

.conferencemember-view > avatar {
  -moz-box-flex: 0;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  width: 20px;
  height: 20px;

}

.list-contact-view > hbox > hbox.avatarBox {
  background: white;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
}

.list-contact-view > hbox > hbox.avatarBox > avatar {
  border: none;
  width: 20px;
  height: 20px;
}

.list-contact-view[offlineContact="true"] > hbox > hbox > avatar {
  opacity: 0.5;
}

.conference-role-view {
  padding-left: 2px;
}

.conferencemember-view,
.list-contact-view {
  -moz-box-pack: center;
  -moz-box-align: center;
  padding-left: 2px;
}

.conferencemember-tooltip-name {
  font-weight: bold;
}

.conferencemember-tooltip-status {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

.conferencemember-tooltip-grid {
  margin-left: 1em;
}

.list-contact-view[offlineContact=true] > label,
.list-contact-view[offlineContact=true] > avatar
{
  opacity: 0.5;
}

.list-contact-view.virtual {
  opacity: 0.3;
}

.list-contact-view .counter {
  background-color: #52affa;
  border: 3px solid white;
  color: white;
  font-size: 11px;
  font-weight: bold;
  -moz-border-radius: 20px;
  min-width: 20px;
  height: 20px;
  -moz-box-align: center;
  -moz-box-pack: center;
  text-align: center;
}

#contacts-list[hideOffline=true][connected=true]
  .list-group-view[onlyOfflineContacts=true]:not([showOffline=true]),
#contacts-list[hideOffline=true][connected=true]
  .list-contact-view[offlineContact=true],
.list-group-view[onlyNonMatchingContacts=true],
.list-contact-view[nonMatchingContact=true]
{
  display: none
}

.contact-label {
  margin: 2px 0 0 0;
  padding: 0;
}

.status-text {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: 75%;
  font-style: italic;
}
