.conference-view > richlistitem:nth-child(2n+1):not([selected=true]) {
  background: #cfcfcf !important;
}

.conference-view, .conference-role-view, .conferencemember-view {
  margin: 0px;
  padding: 0;
}

.conference-view,
.conference-role-view,
.conferencemember-view {
  background: #c7c7c7;
  border: none;
  color: #515151;
  text-shadow: #eee 0 1px 0;
}

.conference-view,
.conference-role-view {
  font-weight : bold;
}

.conference-view[selected=true],
.conference-role-view[selected=true],
.conferencemember-view[selected=true] {
  background: #dadada;
}

.conferencemember-view > avatar {
  -moz-box-flex: 0;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  width: 20px;
  height: 20px;
}

.conference-role-view {
  padding-left: 2px;
}

.conferencemember-view {
  -moz-box-pack: center;
  -moz-box-align: center;
  padding-left: 2px;
}

.conferencemember-tooltip-name {
  font-weight: bold;
}

.conferencemember-tooltip-status {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

.conferencemember-tooltip-grid {
  margin-left: 1em;
}
