/* Roster */
tabpanels {
  -moz-appearance: none;
  background: white;
  padding: 2px;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border: 1px solid #999;
}

#contacts-list {
  overflow: auto;
}

#contacts-list[hideOffline=true] .group-view[onlyOfflineContacts=true]:not([showOffline=true]),
#contacts-list[hideOffline=true] .group-view:not([showOffline=true]) .contact-view[offlineContact=true],
.group-view[onlyNonMatchingContacts=true],
.contact-view[nonMatchingContact=true]
{
  display: none
}

/* Toolbar icons */
#adduser-button {
  list-style-image: url(imgs/adduser.png);
}

#joinroom-button {
  list-style-image: url(imgs/joinroom.png);
}

#editgroups-button {
  list-style-image: url(imgs/editgroups.png);
}

#disco-button {
  list-style-image: url(imgs/disco.png);
}

#toggleshowoffline-button {
  list-style-image: url(imgs/toggleoffline.png);
}

/* Login box */
#login-info-box {
  background: #E0DC76;
  border: 1px solid black;
  margin: 0.2em;
  padding: 0.5em;
}

.throbber {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}

#login-error-box {
  color: red;
}

#login-error-box > image {
  list-style-image: url(../verifier/imgs/invalid-icon.png);
}

/* Presence box */
#setPresence-box {
  padding: 3px 0;
}

#setPresence-box > spacer {
  margin: 4px 0;
  padding: 0;
  border-top: 1px solid #afafaf;
}

#setPresence-jid {
  margin: 0 !important;
  padding-left: 0 !important;
  font-size: 75%;
  color: #999;
}

#setPresence-nick {
  margin: 0 !important;
  padding-left: 0 !important;
  font-weight: bold;
  font-size: 130%;
  color: #525252;
}

#setPresence-type-chooser, #setPresence-profile-chooser {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 75%;
/*  -moz-appearance: none;*/
}

#setPresence-type-chooser:hover {
/*  -moz-appearance: menulist*/
}

#setPresence-avatar-image {
  border: 1px solid #b7b7b7;
  background-color: #e5e5e5;
  -moz-border-radius: 5px;
  margin-right: 4px;
  width: 34px;
  height: 34px;
}

#eventBox {
  color: #000;
  background: #EEF;
  border: 1px solid #79b;
}

#eventBox div {
  padding: 3px;
  text-align: center;
}

.gateway-toolbarbutton {
  list-style-image: url(imgs/gatewayicons/generic.png);
}

.gateway-toolbarbutton[checked="true"] {
  list-style-image: url(imgs/gatewayicons/generic-connected.png);
}

.gateway-toolbarbutton[gateway-type="msn"] {
  list-style-image: url(imgs/gatewayicons/msn.png);
}

.gateway-toolbarbutton[gateway-type="msn"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/msn-connected.png);
}

.gateway-toolbarbutton[gateway-type="aim"] {
  list-style-image: url(imgs/gatewayicons/aim.png);
}

.gateway-toolbarbutton[gateway-type="aim"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/aim-connected.png);
}

.gateway-toolbarbutton[gateway-type="yahoo"] {
  list-style-image: url(imgs/gatewayicons/yahoo.png);
}

.gateway-toolbarbutton[gateway-type="yahoo"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/yahoo-connected.png);
}

.gateway-toolbarbutton[gateway-type="icq"] {
  list-style-image: url(imgs/gatewayicons/icq.png);
}

.gateway-toolbarbutton[gateway-type="icq"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/icq-connected.png);
}

.gateway-toolbarbutton[gateway-type="gadu-gadu"] {
  list-style-image: url(imgs/gatewayicons/gadu-gadu.png);
}

.gateway-toolbarbutton[gateway-type="gadu-gadu"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/gadu-gadu-connected.png);
}

.gateway-toolbarbutton[gateway-type="xmpp"] {
  list-style-image: url(imgs/gatewayicons/xmpp.png);
}

.gateway-toolbarbutton[gateway-type="xmpp"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/xmpp-connected.png);
}

.gateway-toolbarbutton[gateway-type="twitter"] {
  list-style-image: url(imgs/gatewayicons/twitter.png);
}

.gateway-toolbarbutton[gateway-type="twitter"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/twitter-connected.png);
}

.gateway-toolbarbutton[gateway-type="apple"] {
  list-style-image: url(imgs/gatewayicons/apple.png);
}

.gateway-toolbarbutton[gateway-type="apple"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/apple-connected.png);
}

.gateway-toolbarbutton[gateway-type="gwave"] {
  list-style-image: url(imgs/gatewayicons/gwave.png);
}

.gateway-toolbarbutton[gateway-type="gwave"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/gwave-connected.png);
}

#eventBoxPrev, #eventBoxNext {
  -moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image);
}

#eventBoxPrev {
  list-style-image: url(../chattabbox/imgs/scroll-left.png);
}

#eventBoxPrev[disabled="true"] {
  list-style-image: url(../chattabbox/imgs/scroll-left-disabled.png);
}

#eventBoxNext {
  list-style-image: url(../chattabbox/imgs/scroll-right.png);
}

#eventBoxNext[disabled="true"] {
  list-style-image: url(../chattabbox/imgs/scroll-right-disabled.png);
}

#eventBoxCounterBox {
  -moz-box-align: center;
  -moz-box-pack: center;
  border-bottom: 1px solid #999;
}
