/* Roster */

.group-view, .contact-view, .conference-view, .conference-role-view, .conferencemember-view {
  color: #000;
  padding: 1px;
}

.group-view, .conference-view {
  background: #CCC;
  font-weight : bold;
}

.group-view[selected=true], .conference-view[selected=true],
.conference-role-view[selected=true], .contact-view[selected=true],
.conferencemember-view[selected=true]{
  background: #DDE;
}

.conference-role-view {
  background: #EEE;
  font-weight : bold;
  padding-left: 4px;
}

.contact-view {
  padding-left: 8px;
}

.conferencemember-view {
  padding-left: 16px;
}

.contact-view[offlineContact=true] {
  color: #aaa;
}

.contact-tooltip-name, .resource-tooltip-name, .contact-tooltip-resource-name, .conferencemember-tooltip-name {
  font-weight: bold;
}

.contact-tooltip-resource-status, .resource-tooltip-resource-status, .conferencemember-tooltip-status {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

.resource-tooltip-name-container {
  margin-left: 0.5em;
}

.contact-tooltip-resources, .resource-tooltip-resource-status, .conferencemember-tooltip-grid {
  margin-left: 1em;
}

tabpanels {
  -moz-appearance: none;
  background: white;
  padding: 2px;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border: 1px solid #999;
}

richlistbox {
  -moz-appearance: none !important;
  margin: 4px;
  padding: 0;
  border: 1px solid #79b;
}

#contacts-list[hideOffline=true] .group-view[onlyOfflineContacts=true],
#contacts-list[hideOffline=true] .contact-view[offlineContact=true]
{
  display: none
}

/* Toolbar icons */
#adduser-button {
  list-style-image: url(imgs/adduser.png);
}

#joinroom-button {
  list-style-image: url(imgs/joinroom.png);
}

#editgroups-button {
  list-style-image: url(imgs/editgroups.png);
}

#disco-button {
  list-style-image: url(imgs/disco.png);
}

#toggleshowoffline-button {
  list-style-image: url(imgs/toggleoffline.png);
}

/* Login pane */
#setPresence-box {
  padding: 5px;
}

#setPresence-nick {
  font-weight: bold;
  font-size: 100%;
}

#login-box {
  background: url(imgs/background.png) 20% 100%;
  background-repeat: repeat-x;
}

#login-logo {
  list-style-image: url(chrome://branding/locale/logo.png);
  padding-top: 3em;
  padding-bottom: 4em;
}

#login-pass-box, #login-user-box {
  padding-left: 2em;
  padding-right: 2em;
}

#login-pass-box {
  padding-top: 1em;
}

#login-signin {
  margin-top: 2em;
}

#login-box spacer {
  -moz-box-flex: 1;
}

#login-settings-box {
  -moz-box-pack: center;
}

#login-settings-box > label {
  color: white !important;
}

/* Presence box */

#setPresence-type-chooser, #setPresence-profile-chooser {
  font-size: 95%;
  margin: 0 !important;
  padding: 0 !important;
/*  -moz-appearance: none;*/
}

#setPresence-type-chooser:hover {
/*  -moz-appearance: menulist*/
}

#eventBox {
  color: #000;
  background: #EEF;
  border: 1px solid #79b;
}

#eventBox div {
  padding: 3px;
  text-align: center;
}

.gateway-toolbarbutton {
  list-style-image: url(imgs/gatewayicons/generic.png);
}

.gateway-toolbarbutton[checked="true"] {
  list-style-image: url(imgs/gatewayicons/generic-connected.png);
}

.gateway-toolbarbutton[gateway-type="msn"] {
  list-style-image: url(imgs/gatewayicons/msn.png);
}

.gateway-toolbarbutton[gateway-type="msn"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/msn-connected.png);
}

.gateway-toolbarbutton[gateway-type="aim"] {
  list-style-image: url(imgs/gatewayicons/aim.png);
}

.gateway-toolbarbutton[gateway-type="aim"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/aim-connected.png);
}

.gateway-toolbarbutton[gateway-type="yahoo"] {
  list-style-image: url(imgs/gatewayicons/yahoo.png);
}

.gateway-toolbarbutton[gateway-type="yahoo"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/yahoo-connected.png);
}

.gateway-toolbarbutton[gateway-type="icq"] {
  list-style-image: url(imgs/gatewayicons/icq.png);
}

.gateway-toolbarbutton[gateway-type="icq"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/icq-connected.png);
}

.gateway-toolbarbutton[gateway-type="gadu-gadu"] {
  list-style-image: url(imgs/gatewayicons/gadu-gadu.png);
}

.gateway-toolbarbutton[gateway-type="gadu-gadu"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/gadu-gadu-connected.png);
}

.gateway-toolbarbutton[gateway-type="xmpp"] {
  list-style-image: url(imgs/gatewayicons/xmpp.png);
}

.gateway-toolbarbutton[gateway-type="xmpp"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/xmpp-connected.png);
}

#eventBoxPrev, #eventBoxNext {
  -moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image);
}

#eventBoxPrev {
  list-style-image: url(../chattabbox/imgs/scroll-left.png);
}

#eventBoxPrev[disabled="true"] {
  list-style-image: url(../chattabbox/imgs/scroll-left-disabled.png);
}

#eventBoxNext {
  list-style-image: url(../chattabbox/imgs/scroll-right.png);
}

#eventBoxNext[disabled="true"] {
  list-style-image: url(../chattabbox/imgs/scroll-right-disabled.png);
}

#eventBoxCounterBox {
  -moz-box-align: center;
  -moz-box-pack: center;
  border-bottom: 1px solid #999;
}
