/* Roster */
tabpanels {
  -moz-appearance: none;
  background: white;
  padding: 2px;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border: 1px solid #999;
}

#contacts-list {
  overflow: auto;
}

#contacts-list[hideOffline=true][connected=true] .group-view[onlyOfflineContacts=true]:not([showOffline=true]),
#contacts-list[hideOffline=true][connected=true] .group-view:not([showOffline=true]) .contact-view[offlineContact=true],
.group-view[onlyNonMatchingContacts=true],
.contact-view[nonMatchingContact=true]
{
  display: none
}

/* Toolbar icons */
#initiate-chat-button {
  list-style-image: url(imgs/init-chat.png);
}

#add-user-button {
  list-style-image: url(imgs/add-contact.png);
}

#join-room-button {
  list-style-image: url(imgs/join-room.png);
}

#prefs-button {
  list-style-image: url(imgs/prefs.png);
}

#presences-tab-button {
  list-style-image: url(imgs/presences-tab.png);
}

/* Login box */
#login-info-box {
  background: #c7c7c7;
  border: 1px solid #c7c7c7;
  -moz-border-radius: 3px;
  margin: 0.2em;
  padding: 0.5em;
}

.throbber {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}

#login-error-box {
  color: red;
}

#login-error-box > image {
  list-style-image: url(../verifier/imgs/invalid-icon.png);
}

/* Presence box */
#setPresence-box {
  padding: 3px 0;
}

#setPresence-jid {
  margin: 0 !important;
  padding-left: 0 !important;
  font-size: 75%;
  color: #999;
}

#setPresence-nick {
  margin: 0 !important;
  padding-left: 0 !important;
  font-weight: bold;
  font-size: 130%;
  color: #525252;
}

#setPresence-type-chooser, #setPresence-profile-chooser {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 75%;
/*  -moz-appearance: none;*/
}

#setPresence-type-chooser .menu-iconic-left {
  visibility: visible;
}

#setPresence-type-chooser:hover {
/*  -moz-appearance: menulist*/
}

#setPresence-avatar-box {
  margin: 2px 6px 0 2px;
}

/* inspired from contactinfo.css: .status-text */
#status-text {
  margin: 0 !important;
  padding: 0 !important;
  color: #515151;
  text-shadow: #eee 0 1px 0;
  font-style: italic;
  font-size: 85%;
}

#eventBox {
  color: #000;
  background: #EEF;
  border: 1px solid #79b;
}

#eventBox div {
  padding: 3px;
  text-align: center;
}

.gateway-toolbarbutton {
  list-style-image: url(imgs/gatewayicons/generic.png);
}

.gateway-toolbarbutton[checked="true"] {
  list-style-image: url(imgs/gatewayicons/generic-connected.png);
}

.gateway-toolbarbutton[gateway-type="msn"] {
  list-style-image: url(imgs/gatewayicons/msn.png);
}

.gateway-toolbarbutton[gateway-type="msn"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/msn-connected.png);
}

.gateway-toolbarbutton[gateway-type="aim"] {
  list-style-image: url(imgs/gatewayicons/aim.png);
}

.gateway-toolbarbutton[gateway-type="aim"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/aim-connected.png);
}

.gateway-toolbarbutton[gateway-type="yahoo"] {
  list-style-image: url(imgs/gatewayicons/yahoo.png);
}

.gateway-toolbarbutton[gateway-type="yahoo"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/yahoo-connected.png);
}

.gateway-toolbarbutton[gateway-type="icq"] {
  list-style-image: url(imgs/gatewayicons/icq.png);
}

.gateway-toolbarbutton[gateway-type="icq"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/icq-connected.png);
}

.gateway-toolbarbutton[gateway-type="gadu-gadu"] {
  list-style-image: url(imgs/gatewayicons/gadu-gadu.png);
}

.gateway-toolbarbutton[gateway-type="gadu-gadu"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/gadu-gadu-connected.png);
}

.gateway-toolbarbutton[gateway-type="xmpp"] {
  list-style-image: url(imgs/gatewayicons/xmpp.png);
}

.gateway-toolbarbutton[gateway-type="xmpp"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/xmpp-connected.png);
}

.gateway-toolbarbutton[gateway-type="twitter"] {
  list-style-image: url(imgs/gatewayicons/twitter.png);
}

.gateway-toolbarbutton[gateway-type="twitter"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/twitter-connected.png);
}

.gateway-toolbarbutton[gateway-type="apple"] {
  list-style-image: url(imgs/gatewayicons/apple.png);
}

.gateway-toolbarbutton[gateway-type="apple"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/apple-connected.png);
}

.gateway-toolbarbutton[gateway-type="gwave"] {
  list-style-image: url(imgs/gatewayicons/gwave.png);
}

.gateway-toolbarbutton[gateway-type="gwave"][checked="true"] {
  list-style-image: url(imgs/gatewayicons/gwave-connected.png);
}

#eventBoxPrev, #eventBoxNext {
  -moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton-image);
}

#eventBoxPrev {
  list-style-image: url(../chattabbox/imgs/scroll-left.png);
}

#eventBoxPrev[disabled="true"] {
  list-style-image: url(../chattabbox/imgs/scroll-left-disabled.png);
}

#eventBoxNext {
  list-style-image: url(../chattabbox/imgs/scroll-right.png);
}

#eventBoxNext[disabled="true"] {
  list-style-image: url(../chattabbox/imgs/scroll-right-disabled.png);
}

#eventBoxCounterBox {
  -moz-box-align: center;
  -moz-box-pack: center;
  border-bottom: 1px solid #999;
}
