richlistitem:nth-child(2n+1):not([selected=true]) {
  background-color: -moz-oddtreerow;
}

.group-view, .contact-view, .conference-view, .conference-role-view, .conferencemember-view {
  padding: 1px;
}

expander.group-view {
  -moz-box-align: start;
}

expander.group-view label.expanderButton {
  -moz-box-flex: 0;
  color: white;
  background: #777;
  -moz-border-radius: 3px;
  padding: 0 2px;
}

richlistitem.group-view,
richlistitem.conference-view,
richlistitem.conference-role-view {
  background: #003E67 url(imgs/group-background.png) center center repeat-x;
  border: 1px solid #003E67;
  border-bottom: 0;
  border-top: 0;
  color: white;
  font-weight : bold;
}

richlistitem.group-view[selected=true],
richlistitem.conference-view[selected=true],
richlistitem.conference-role-view[selected=true] {
  background-color: #005dc8;
  background-image: url(imgs/group-background-selected.png);
  border-color: #005dc8;
}

.icons-box {
  margin: 0;
  padding: 0;
}

expander .expanderButton {
  list-style-image: url(../expander/imgs/switch-close-grey.png);
}

expander[open="true"] .expanderButton {
  list-style-image: url(../expander/imgs/switch-open-grey.png);
}

expander .contact-view {
  max-width: 70px;
  min-width: 50px;
  height: 60px;
  border: 1px solid black;
  -moz-border-radius: 3px;
  margin: 4px;
  padding: 0;
  background: white;
  vertical-align: top;
}

expander > .settingsContainer {
  padding: 0 5px;
}

expander .contact-view > hbox {
  background: #333;
  font-size: 11px !important;
  text-align: center;
}

expander .status-icon {
  top: 8px;
  left: 8px;
}

.contact-view > hbox > label {
  color: white !important;
  font-weight: normal !important;
  margin: 2px 0 0 0;
  padding: 0;
}

.contact-view[selected=true] > label,
.conferencemember-view[selected=true] > label {
  color: inherit !important;
}

.conference-role-view {
  font-weight : bold;
  padding-left: 4px;
}

richlistitem.contact-view {
  padding-left: 8px;
}

.conferencemember-view {
  padding-left: 16px;
}

.contact-tooltip-name, .resource-tooltip-name, .contact-tooltip-resource-name, .conferencemember-tooltip-name {
  font-weight: bold;
}

.contact-tooltip-resource-status, .resource-tooltip-resource-status, .conferencemember-tooltip-status {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

.resource-tooltip-name-container {
  margin-left: 0.5em;
}

.contact-tooltip-resources, .resource-tooltip-resource-status, .conferencemember-tooltip-grid {
  margin-left: 1em;
}
