.group-view, .contact-view {
  padding: 1px;
}

.group-view > hbox {
  color: white;
  background: #515151;
  -moz-border-radius: 2px;
  font-size: 12px;
  padding: 0 0 0 4px;
  margin: 0;
}

.group-view label.expanderButton {
  -moz-box-flex: 0;
  margin: 1px 0 1px 4px;
  padding: 0;
}

.icons-box {
  margin: 0;
  padding: 0;
}

expander .expanderButton {
  list-style-image: url(imgs/switch-close-white.png);
}

expander[open="true"] .expanderButton {
  list-style-image: url(imgs/switch-open-white.png);
}

.contact-view[offlineContact=true] .label-box > *,
.contact-view[offlineContact=true] .avatar-box > * {
  opacity: 0.5;
}

.contact-view[offlineContact=true] .label-box {
  background: #ddd;
  -moz-box-shadow: 0 0 3px 1px #b0b0b0;
}

.counter-box {
  -moz-box-align: start;
  -moz-box-pack: end;
}

.counter-box > vbox {
  background-color: #52affa;
  border: 3px solid white;
  color: white;
  font-size: 11px;
  font-weight: bold;
  -moz-border-radius: 20px;
  min-width: 20px;
  height: 20px;
  -moz-box-align: center;
  -moz-box-pack: center;
  text-align: center;
}

.counter-box > vbox > label {
  margin: 0;
  padding: 0 2px;
}

.avatar-box {
  margin: 6px 6px 0px 0px;
}

.avatar-box > avatar {
  border: 2px solid transparent;
  -moz-border-radius: 5px;
}

.contact-view[hasAvatar="true"] .avatar-box > avatar {
  border-color: #e5e5e5;
}

.label-box {
  width: 48px;
  height: 48px;
  margin: 6px 6px 0px 0px;
  background: #e5e5e5;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 3px 1px #909090;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  color: #808080;
  text-shadow: white -1px -1px, white 1px 1px, white -1px 1px, white 1px -1px;
}

.contact-view[hasAvatar="true"] .label-box {
  background: #fff;
}

.label-box > hbox {
  -moz-box-align: center;
  -moz-box-pack: center;
  padding: 0 2px;
  overflow: hidden;
}

.label-box > hbox > label {
  margin: 0;
  padding: 0;
}

.label-box > vbox {
  -moz-box-align: end;
  -moz-box-pack: center;
}

.label-box > vbox > image {
  list-style-image: url(imgs/gradient.png);
}

.label-box[overflowed="false"] > vbox {
  display: none;
}

.contact-view[hasAvatar="true"] .label-box > * {
  display: none;
}

.icon-container {
  background: #c7c7c7;
  -moz-border-radius: 5px 0 0 5px;
  margin: 10px 0 6px 0;
}

.icon-container > * {
  border-bottom: 2px solid white;
  -moz-border-bottom-colors: #cfcfcf #bababa;
}

.contact-view {
  margin: 4px 0;
  padding: 0;
  vertical-align: top;
}

expander > .settingsContainer {
  padding: 0 5px;
}

expander .contact-view > hbox {
  background: #333;
  font-size: 11px !important;
  text-align: center;
}

expander .status-icon {
  top: 8px;
  left: 8px;
}

.contact-view > hbox > label {
  color: white !important;
  font-weight: normal !important;
  margin: 2px 0 0 0;
  padding: 0;
}

.contact-tooltip-name, .resource-tooltip-name, .contact-tooltip-resource-name {
  font-weight: bold;
}

.contact-tooltip-resource-status, .resource-tooltip-resource-status {
  margin-left: 0;
  padding-left: 0;
  font-style: italic;
}

.resource-tooltip-name-container {
  margin-left: 0.5em;
}

.contact-tooltip-resources, .resource-tooltip-resource-status {
  margin-left: 1em;
}
