description, label {
  margin: 0;
  padding: 0;
}

#container {
  background: white;
  margin: 10px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 4px 1px #b4b4b4;
}

#state-deck {
  border-bottom: 1px solid #c7c7c7;
  color: #515151;
  padding: 6px;
}

#state {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}

#active-state {
  font-weight: bold;
  font-size: 1.2em;
}

#timer {
  font-size: 0.9em;
}

#buttons-deck {
  border-top: 1px solid #c7c7c7;
  padding: 6px;
}

.action {
  border: 1px solid white;
  -moz-appearance: none;
  color: white;
  font-weight: bold;
  margin: 0 5px;
  padding: 2px 8px;
}

.green {
  -moz-border-image: url(imgs/green-border-image.png) 2/2px repeat stretch;
  text-shadow: #560 0 0 4px;
}

.green .button-icon {
  display: -moz-box;
  list-style-image: url(imgs/start.png);
}

.green:hover {
  -moz-border-image: url(imgs/green-border-image-hover.png) 2/2px repeat stretch;
}

.green:hover:active {
  -moz-border-image: url(imgs/green-border-image-pushed.png) 2/2px repeat stretch;
}

.red {
  -moz-border-image: url(imgs/red-border-image.png) 2/2px repeat stretch;
  text-shadow: #500 0 0 4px;
}

.red .button-icon {
  display: -moz-box;
  list-style-image: url(imgs/end.png);
}

.red:hover {
  -moz-border-image: url(imgs/red-border-image-hover.png) 2/2px repeat stretch;
}

.red:hover:active {
  -moz-border-image: url(imgs/red-border-image-pushed.png) 2/2px repeat stretch;
}

.action[disabled=true], .action:hover:active {
  text-shadow: #666 0 0 4px;
  -moz-border-image: url(imgs/border-image-disabled.png) 2/2px repeat stretch;
}
