/* for avatar */
avatar[squareBordered="true"] {
  border: 2px solid #e5e5e5;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 3px 1px #909090;
  background: no-repeat center center;
}

avatar[squareBordered="true"][filled="true"] {
  background-color: white;
}

/* for avatarList */
#selectedAvatar, #containerVbox {
  margin: 3px 0;
}

.avatarIcon {
  width: 60px;
}

.avatarIcon[selected="true"] {
  display: none;
}

.avatarIcon label {
  font-size: 80%
}
