.container {
  background: center center no-repeat;
  -moz-background-clip: padding;
}

.avatarContainer, .avatarIcon img {
  -moz-border-radius: 2px;
}

.avatarIcon img {
  display: block;
  margin: auto;
  max-width: 48px;
  max-height: 48px;
}

.avatarIcon {
  position: relative;
  float: left;
  padding: 2px;
  margin: 4px;
  width: 60px;
  height: 76px;
  border: 2px solid #ccc;
}

.avatarIcon[selected="true"] {
  border-color: #79b;
}

.avatarIcon .size {
  position: absolute;
  bottom: 0px;
  left: 4px;
}
