@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

checkboxpopup {
  -moz-binding: url("chrome://messenger/content/bindings/prompts.xml#checkboxpopup");
}

checkboxprompt {
  -moz-binding: url("chrome://messenger/content/bindings/prompts.xml#checkboxprompt");
}

chatpane {
  -moz-binding: url("chrome://messenger/content/bindings/chatpane.xml#chatpane");
}

tab[onclosetab] {
  -moz-binding: url("chrome://messenger/content/bindings/tabwithclosebutton.xml#tab");
}

avatar {
  -moz-binding: url("chrome://messenger/content/bindings/avatar.xml#avatar");
}
