body {
	font-family: arial;
	font-size: 12px;

}


message {
	padding: 0 5px 7px 10px;
	display:block;
}

nick  {
	font-weight:bold;
	/*display:block;*/
	display:inline;
	color: #000;
	margin-left: -10px;
	clear: left;
}

action {
	font-weight:bold;
	display:inline;
}

nick:after {
	xcontent: ": ";
}

message[type="in"] nick, message[type="in"] action{
	color: #cc0000 !important;

}

message[type="error"] {
	color: #cc0000;
	margin-left: -5px;
	xfont-weight:bold
}

content {
	/*display: block;
	margin-left: 15px*/
	display:inline;
	margin-top: 4px;
	
	
}

message[firstline="false"] nick{
	display:none;
}

message[firstline="true"] content{
	margin-top: 10px;
}

a {
	text-decoration:underline;
	color:blue
}

.emo {
	font-weight:bold
}


.avatar {
	max-height: 32px;
	max-width: 32px;
	margin-right: 6px;
	margin-bottom: 4px;
	clear:left;
	float:left;
	margin-left: -9px;
	-moz-user-select: none;
}

.noavatar {
	height: 32px;
	width: 32px;
	background: url(chrome://chat/skin/head.png);
}

.empty {
	max-height: 16px;
	max-width: 32px;
	background: url(chrome://chat/skin/gradient.png);
}



/* Convesation style stuff */

message[type="out"].convstyle {
	text-align:right;
	
}

message.convstyle {
	min-height:32px;
	
}


message[type="out"].convstyle .avatar{
	float:right;
	clear:right;
	margin-right:-5px;
	margin-left: 10px;
	
}
