
/*
splitter, vbox{
	background:#fff
}
*/



splitter {
	border:0; 
	height: 1px !important;
}

window {
	background: #fff;
}
#contactbar {

	background: #e5e5e5;  /*url(groupbar.png); */

	
	
	margin: 0 5px 0 5px;
	margin:0;
}

#show {
	padding-left: 22px;
	padding-top: 2px;
	font-weight: bold;
	background-repeat: no-repeat; 
	/*background-position: 6px 5px; */
	background-position-top: 4px;
	margin: 4px 10px 0px 5px;
}

#chatdeck[selectedIndex="0"] {
	border-top: 1px solid #ddd;
}

#history {
	-moz-user-focus:ignore;
	cursor: pointer;
	list-style-image : url(chrome://chat/skin/history.png);
	padding-left: 0px;
	-moz-appearance:none;
	min-height:16px;
	background:transparent;
	border:0;
	min-width: 10px;
	margin-top: 2px;
	max-width: 20px;

}
#info {
	-moz-user-focus:ignore;
	cursor: pointer;
	list-style-image : url(chrome://chat/skin/information.png);
	padding-left: 0px;
	-moz-appearance:none;
	min-height:16px;
	background:transparent;
	border:0;
	min-width: 10px;
	margin-top: 2px;
	max-width: 20px;

}

#searchbar {
	background: #e5e5e5; 
	border-bottom: 1px solid #ddd;
}

#message-pane{
	background: window;
}

#resizer {
	display:none
}
/*
#message {

	font-family: arial;
	font-size: 12px;
	border-top: 1px solid #aaa;
}
*/


#contentFrame {
    height: 100%;
    margin: 3px 3px;
    padding: 2px ;
    background: window;
    border: 1px solid ThreeDShadow !important;
    /*
    -moz-border-top-colors: ThreeDShadow ThreeDFace;
    -moz-border-right-colors: ThreeDShadow ThreeDFace;
    -moz-border-bottom-colors: ThreeDShadow ThreeDFace;
    -moz-border-left-colors: ThreeDShadow ThreeDFace;
    */
    -moz-box-flex: 1;
}

tabs {
	background: #e5e5e5  url(groupbar.png);
	padding:0;
	margin-top:0px;

	border-top:1px solid #777;

		
	/*
	border-top:2px solid #777;
	-moz-border-top-colors: #555 #aaa;
	*/

}

tabs[hidden=true] {
	display:none;
	
}

tab {
	-moz-appearance: none;
	background:transparent;

	border-top: 0;
	-moz-border-radius: 0;
	font-size: 12px;

	margin-left: 2px;
	margin-right: 2px;
	margin-top:0px;
	margin-bottom: 3px;
	border: 0px;
	/*border-left: 3px solid #aaa;
	-moz-border-left-colors: transparent transparent #aaa;*/
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-box-sizing: border-box;	
}

tab[selected="true"] {
	background: #fff;
	border: 1px solid #777 !important;
	border-top-width:0px !important;
	-moz-border-left-colors: #777 #777;
	-moz-border-top-colors:  #fff transparent;
	-moz-border-right-colors: #777 #777;
	-moz-border-bottom-colors: #777 #777;
}

tab[selected="true"] {
	
	fdont-weight:bold;
	margin-top: -1px;


}

tab[unread="true"] {
	font-weight:bold;
	color: brown;
}

tabpanels {
	-moz-appearance:none;
	border: 0;
	padding: 0;
	background: transparent;
}

.tabs-closebutton  {
  border: 1px solid transparent;
  padding: 0px 2px 2px 2px !important;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-appearance: none;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.tabs-closebutton:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.tabs-closebutton:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

