body {
    background: white;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
}

.systemMessage {
    margin: 2px 8px;
    color: #081;
    font-style: italic;
}

.messageChunk {
    margin: 8px;
    border-width: 1px;
    border-style: solid;
}

.header {
    margin: 1px;
    padding: 1px 6px;
    background: url(chatpane/header-gradient.png);
    color: white;
}

.message:not(:first-child) {
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
}

.message:not(:first-child) > .header {
    display: none;
}

.author {
    font-weight: bold;
    float: left;
}

.date {
    float: right;
    font-size: 90%;
    opacity: 0.85;
}

.body {
   padding: 3px 6px;
}

.header::after {
    font-size: 1%;
    line-height: 1%;
    display: block;
    content: " ";
    clear: both;
}
