	#contactlistbox {
		background-color: #f9f9f9;
	
	
	}
	
	
	richlistitem{
		background-color: #fff;
		background-repeat: no-repeat; 
		background-position: 6px 5px; 
		padding-left: 4px;
		font-size: 13px;
		border-width: 0;
		xborder-bottom: 1px solid #eee;
		color: #000;
		
	}
	
	richlistitem *, richlistitem {
		cursor:pointer;
	}

	richlistitem:hover{
	  xborder-bottom: 1px dotted #ccc;
	  -moz-opacity: 1;
	  background: #e5e5e5;
	  color: #000;
	}
	
	richlistitem textbox {
		display:none;
	}
	
	richlistitem[changing=true] {
		xmargin-left:-5px;
		-moz-opacity: 0.6;
		
	}
	
	richlistitem[selected="true"] textbox{
	  display:-moz-box;
	}

	richlistitem .auth-box { 
		display: none;
	}
	
	richlistitem[state="subscribe"] .auth-box{
		xdisplay: -moz-box !important;
	}
	
	richlistitem .contactbox {
		padding: 2px 2px 0 2px;

	}
	
	richlistitem > label{
	
			font-size: 10px;
	}

	 .avatar {

		margin: 1px 3px 0 4px
	}
		
	richlistitem .message {
		color: #aaa;
		xmargin-left: 20px;
	}
	

	
	.message[value=""], .errormessage[value=""] {
		display:none;
	}
	
	.errormessage {
		color: #E9A9A9;
		font-style: italic;
		margin-top: -5px;
	}

	#contactlistbox .name[value=""] {
		display:none;
	}
	
	.name:not([value=""]) + .jid{
		display:none;
	}
	
	#contactlistbox .message{
		margin-top: -5px;
	}

	
	#contactlistbox {
		border:0;padding:0;margin:0px;
		-moz-appearance:none;
		overflow:hidden;

	}

	
	
	#contactlistbox treechildren::-moz-tree-row {
		border-width: 0px;
		height: 25px; padding: 0;
	
	}

	#contactlistbox treechildren::-moz-tree-row(unavailable) *{
		color: #ddd
	
	}

	.rename-textbox {
		
		border: 1px solid #333 !important;
		-moz-border-top-colors:  #333 transparent;
		-moz-border-bottom-colors:  #333 transparent;
		-moz-border-left-colors:  #333 transparent;
		-moz-border-right-colors:  #333 transparent;
	}
	
	#contactlistbox .rename-textbox{
		margin: 0px 0px 4px 4px !important;
	}
	
	
	menuitem[show] {
		background-repeat: no-repeat;
	}
	
	.statusicon {
		margin-top:1px;
	}
	
	richlistitem[sortshow=unavailable] .name, 
	richlistitem[sortshow=unavailable] .jid,
	richlistitem[sortshow=unavailable] .avatar {
		-moz-opacity: 0.5 !important;
	}
	
	richlistitem[type=muc] .name, 
	richlistitem[type=muc] .jid,
	richlistitem[type=muc] .avatar {
		-moz-opacity: 1 !important;
	}
	
	*[show] {min-height: 17px; background-repeat:no-repeat; min-width:17px; background-position: 0px 2px}
	*[show=dnd]{ background-image: url(chrome://chat/skin/states/dnd.png) }
	*[show=away]{ background-image: url(chrome://chat/skin/states/away.png)}
	*[show=available]{ background-image: url(chrome://chat/skin/states/online.png) }
	*[show=chat]{ background-image: url(chrome://chat/skin/states/online.png) }
	*[show=xa] {  background-image: url(chrome://chat/skin/states/away.png) }
	*[show=unavailable]  { background-image: url(chrome://chat/skin/states/offline.png)}
	*[show=subscribe]  {color: orange !important}
	*[show=invisible]  { background-image: url(chrome://chat/skin/states/invisible.png); }
	*[show=goingoffline]  { background-image: url(chrome://chat/skin/states/gone.png); }
	*[show=headline]  { background-image: url(chrome://chat/skin/states/headmsg.png); }
	*[chatstate=composing]{ background-image: url(chrome://chat/skin/states/composing.png) }
	
	richlistitem[type=muc] .statusicon{ background-image: url(chrome://chat/skin/states/muc.png); color: black !important; }
	richlistitem[error] .statusicon{
		background-image: url(chrome://chat/skin/states/error2.png)
	}	
	
	richlistitem[type=muc] .message {display:none} /*Should not be here XXX*/
	
