.field-desc {
  font-size: smaller;
}

spacer {
  height: 0.8em;
}

hbox.entry {
  -moz-box-align: center;
  -smoz-box-flex: 1;
}

row {
  -moz-box-align: center;
}

hbox.entry > *:last-child {
  -moz-box-flex: 1;
}
 
