/* Roster */

.group-view, .contact-view {
  color: #000;
  padding: 1px;
}

.group-view {
  background: #DDD;
  font-weight : bold;
}

.group-view[selected=true] {
  background: #DDF;
}

.contact-view[selected=true] {
  background: #EEF;
}

.contact-view[offlineContact=true] {
  color: #aaa;
}

.contact-tooltip-name, contact-tooltip-resource-name {
    font-weight: bold;
}

.contact-tooltip-resources-grid {
    margin-left: 1em;
}

tabpanels {
  -moz-appearance: none;
  background: white;
  padding: 2px;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border: 1px solid #999;
}

richlistbox {
  margin: 4px;
  padding: 0;
  border: 1px solid #79b;
}

#contacts-list[hideOffline=true] .group-view[onlyOfflineContacts=true],
#contacts-list[hideOffline=true] .contact-view[offlineContact=true]
{
  display: none
}

/* Toolbar icons */
#adduser-button {
  list-style-image: url(images/main/adduser.png);
}

#joinroom-button {
  list-style-image: url(images/main/joinroom.png);
}

#editgroups-button {
  list-style-image: url(images/main/editgroups.png);
}

#disco-button {
  list-style-image: url(images/main/disco.png);
}

#toggleshowoffline-button {
  list-style-image: url(images/main/toggleoffline.png);
}

/* Login pane */
#setPresence-box {
  padding: 5px;
}

#setPresence-nick {
  font-weight: bold;
  font-size: 100%;
}

#login-box {
  background: url(images/login/background.png) 20% 100%;
  background-repeat: repeat-x;
}

#login-logo {
  list-style-image: url(chrome://branding/locale/logo.png);
  padding-top: 3em;
  padding-bottom: 4em;
}

#login-pass-box, #login-user-box {
  padding-left: 2em;
  padding-right: 2em;
}

#login-pass-box {
  padding-top: 1em;
}

#login-signin {
  margin-top: 2em;
}

#login-box spacer {
  -moz-box-flex: 1;
}

#login-settings-box {
  -moz-box-pack: center;
}

#login-settings-box > label {
  color: white !important;
}

/* Presence box */

#setPresence-type-chooser, #setPresence-profile-chooser {
  font-size: 95%;
  margin: 0 !important;
  padding: 0 !important;
/*  -moz-appearance: none;*/
}

#setPresence-type-chooser:hover {
/*  -moz-appearance: menulist*/
}

#eventBox {
  color: #000;
  background: #EEF;
  border: 1px solid #79b;
}

#eventBox div {
  padding: 3px;
  text-align: center;
}

