
.prompt *, .prompt label {font-size: 12px;}

.prompt { 
	margin-top: 5px;
	background:transparent;
	padding-left:15px
}

.prompt description {
	color:black;
}

button {
  min-width: 2em;
  border: 0px solid;
}