.closebutton > .toolbarbutton-icon {
  -moz-margin-end: 0px !important;
  margin-top: 1px;
}

.closebutton {
  -moz-appearance: none;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  height: 24px;
  border: none !important;
  padding: 0 0 0 4px;
  cursor: default;
  list-style-image: url("chrome://global/skin/icons/close.png");
}

.closebutton:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.closebutton:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

tab[chatstate=modified] .tab-text {
  color: red;
}

tab[chatstate=composing] .tab-text {
  color: green;
}

#scroll-left-button {
  list-style-image: url(imgs/scroll-left.png);
}

#scroll-left-button[disabled="true"] {
  list-style-image: url(imgs/scroll-left-disabled.png);
}

#scroll-right-button {
  list-style-image: url(imgs/scroll-right.png);
}

#scroll-right-button[disabled="true"] {
  list-style-image: url(imgs/scroll-right-disabled.png);
}
